
/*Header*/
figure
{
    margin: 0;
}
header{
    width:100%;
    height:128px;
    background-color: $myOrange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.header_up
{
    padding-top:20px;
    display: flex;
    justify-content: space-between;
}
.header_title_hide-menu{

    width:18px;
    height: 24px;
    fill:$myWhite;
    margin: 0 12px 8px 12px;
    padding: 0 12px 12px 12px;
   
}
.header_title
{
    display: flex;
    color: $myWhite;
    font-family: 'Fredoka One', cursive;
    font-size:24px;
    
    
  
}

figcaption
{
    margin-left: 16px;
    font-size: 25px;
    
}
.header_nav-menu
{
    height: 64px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Helvetica";
    
}

.header_nav-menu_list
{
    display: flex;
    width:100%;
    color: $trWhite;
    justify-content: flex-start;
    

    &_it{
        padding: 0 16px 0 16px;
        color:$trWhite;
        opacity: .87;
    }
    
}


